<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Grupos</title>
    <link rel="icon" href="/img/icono.png"> 
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="grid grid-cols-2 h-screen" onload="mostrarGrupos()">

    <div class="p-5 bg-[#730027] grid justify-center items-start pt-44 -space-y-80">
        <a class="mr-4 duration-150 text-white font-medium hover:bg-white w-16 hover:text-[#730027] p-1 rounded-lg" href="/">↢Inicio</a>

        <h1 class="text-white font-medium text-3xl">Registro de Grupos</h1>
        <form class="grid -space-y-64" id="formAgregarGrupo">
            <label class="text-white font-medium -mt-72" for="nombreGrupo">Nombre del grupo:</label>
            <input class="rounded-md w-72 h-8 p-1" type="text" id="nombreGrupo" name="nombreGrupo" oninput="this.value = this.value.replace(/[^a-zA-Z0-9]/g, '')" required><br><br>
            <button class="bg-white text-[#730027] rounded-md p-1 h-8 duration-150 hover:scale-105 font-medium" type="button" onclick="agregarGrupo()">Agregar Grupo</button>
        </form>

    </div>


    <div class="p-10 flex space-x-14">

        <div class="space-y-5">

            <h1 class="font-medium text-2xl">Grupos registrados</h1>
            <ul class="italic" id="listaGrupos"></ul>

            <div>
                <button id="btnEliminarGrupo" class="bg-[#730027] p-1 px-6 rounded-md text-white font-medium duration-150 hover:scale-105" onclick="toggleEliminarGrupo()">Eliminar grupo</button>
            </div>

        </div>


        <div id="contenidoDivEliminarGrupo" class="duration-150 hidden space-y-6">

            <h1 class="font-medium text-2xl">Eliminar grupo</h1>

            <div class="bg-[#730027] p-5 px-8 rounded-md">

                <form class="grid" id="formBorrarGrupo">
                    <label class="text-white font-medium" for="nombreGrupoBorrar">Nombre del grupo a borrar:</label>
                    <input class="mt-2 p-1 border border-gray-400 rounded-md w-60 hover:border-gray-900" type="text" id="nombreGrupoBorrar" name="nombreGrupoBorrar" required><br><br>
                    <button class="bg-white p-1 px-4 rounded-md font-medium duration-150 hover:scale-105" type="button" onclick="borrarGrupo()">Borrar Grupo</button>
                </form>
                <div class="text-white font-medium mt-2" id="mensaje"></div>

            </div>

        </div>
    </div>
    
   
    
    
    
    <script>
        function agregarGrupo() {
            var nombre = document.getElementById("nombreGrupo").value;
            if (!nombre.trim()) {
                alert("Por favor, ingresa el nombre del grupo.");
                return;
            }
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/grupos/agregar", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById("mensaje").innerHTML = xhr.responseText;
                    mostrarGrupos(); // Actualiza la lista de grupos después de agregar uno
                    document.getElementById("nombreGrupo").value = ""; // Limpia el campo de entrada
                }
            };
            xhr.send("nombre=" + nombre);
        }

        function borrarGrupo() {
            var nombre = document.getElementById("nombreGrupoBorrar").value;
            if (!nombre.trim()) {
                alert("Por favor, ingresa el nombre del grupo a borrar.");
                return;
            }
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", "/borrar-grupo/" + encodeURIComponent(nombre), true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        document.getElementById("mensaje").innerHTML = "Grupo borrado exitosamente.";
                        mostrarGrupos(); // Actualiza la lista de grupos después de borrar uno
                        document.getElementById("nombreGrupoBorrar").value = ""; // Limpia el campo de entrada
                    } else {
                        document.getElementById("mensaje").innerHTML = "Error al borrar el grupo.";
                    }
                }
            };
            xhr.send();
        }

        function mostrarGrupos() {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/mostrar-grupos", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var grupos = JSON.parse(xhr.responseText);
                    var listaGrupos = '';
                    grupos.forEach(grupo => {
                        listaGrupos += `<li>${grupo}</li>`;
                    });
                    document.getElementById("listaGrupos").innerHTML = listaGrupos;
                }
            };
            xhr.send();
        }
    </script>

    <script>
    function toggleEliminarGrupo() {
      var div = document.getElementById("contenidoDivEliminarGrupo");
      div.classList.toggle("hidden");
      var div = document.getElementById("btnEliminarGrupo");
      div.classList.toggle("hidden");
    }
  </script>

</body>
</html>
