<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <h1>Bienvenido a la página principal</h1>
    <h2>¿Qué deseas hacer?</h2>
    <ul>
        <li><a href="/maestros">Registrar Maestros</a></li>
        <li><a href="/materias">Registrar Materias</a></li>
        <li><a href="/especialidad">Registrar Especialidades</a></li>
        <li><a href="/grupos">Registrar Grupos</a></li>
        <li><a href="/oficio">Crear Oficios</a></li>
        <li><a href="/asunto">Asuntos</a></li>
    </ul>
</body>
</html>
