<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .message {
            background-color: #4CAF50; 
            color: white; 
            padding: 10px 20px; 
            margin-bottom: 20px; 
            border-radius: 5px; 
            text-align: center; 
        }
    </style>
</head>

<body>

    <div class="bg-[#730027] h-14 w-auto flex items-center justify-between">

        <div class="flex items-center">

            <img class="ml-3 h-11 w-10" src="/img/logo2.png" alt="logo">
            <h1 class="text-white font-semibold ml-2">Portal de oficios</h1>

        </div>
        <div class="space-x-8 mr-8 font-medium flex items-center">


            <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-5 rounded-lg shadow-2xl hidden w-5/12 h-96 bg-[#730027]" id="maestrosContainer">
                <form method="POST" action="/register-maestro" class="p-6 space-y-4">
                    <div class="mb-4">
                        <label for="name" class="block text-white font-medium mb-2">Nombre del Maestro</label>
                        <input type="text" name="name" required class="appearance-none border border-slate-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="flex items-center justify-end space-x-5">
                        <input type="submit" class="bg-white hover:bg-slate-200 text-black font-semibold text-sm py-2 px-4 rounded-xl focus:outline-none focus:shadow-outline hover:scale-105" value="AGREGAR">
                    </div>
                </form>


                <form method="POST" action="/delete-maestro" class="p-6 space-y-4">
                    <div class="mb-4">
                        <label for="maestroId" class="block text-white font-medium mb-2">ID</label>
                        <input type="text" name="maestroId" required class="appearance-none border border-slate-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="flex items-center justify-end space-x-5">
                        <input type="submit" class="bg-white hover:bg-slate-200 text-black font-semibold text-sm py-2 px-4 rounded-xl focus:outline-none focus:shadow-outline hover:scale-105" value="BORRAR">
                    </div>
                </form>

                <% if (typeof message !== 'undefined') { %>
                    <div class="message">
                        <%= message %>
                    </div>
                <% } %>
            </div>


            <form id="maestrosForm">
                <button id="toggleMaestros" class="text-white duration-150 ease-in-out hover:scale-100 hover:bg-white hover:text-black hover:p-1 hover:rounded-lg"
                        type="button" onclick="loadMaestrosContent()">• Maestros</button>
            </form>


            <form action="/materias">
                <button
                    class="text-white duration-150 ease-in-out hover:scale-100 hover:bg-white hover:text-black hover:p-1 hover:rounded-lg">•
                    Materias</button>
            </form>
            <form action="/register">
                <button
                    class="text-white duration-150 ease-in-out hover:scale-100 hover:bg-white hover:text-black hover:p-1 hover:rounded-lg">•
                    Usuarios</button>
            </form>
        </div>

    </div>

 
    <form action="/oficio" method="GET">
        <button type="submit">Crear oficio</button>
    </form>

    <!-- Botón para imprimir el PDF -->
    <button onclick="imprimirPDF()">Imprimir PDF</button>

    <script>
        function imprimirPDF() {
            // Enviar una solicitud GET a la ruta para descargar el PDF
            fetch('/descargar-pdf')
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(new Blob([blob]));
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'oficio.pdf'; // Nombre del archivo PDF
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => console.error('Error al descargar el PDF:', error));
        }
    </script>


    <script>
                // Obtener referencia al botón y al contenedor de maestros
        const toggleButton = document.getElementById('toggleMaestros');
        const maestrosContainer = document.getElementById('maestrosContainer');

        // Agregar evento de clic al botón
        toggleButton.addEventListener('click', function() {
            // Mostrar u ocultar el contenedor de maestros al hacer clic en el botón
            maestrosContainer.classList.toggle('hidden');
        });

    </script>



</body>

</html>
