<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Materias</title>
    <link rel="icon" href="/img/icono.png"> 
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="grid grid-cols-2 h-screen" onload="mostrarMaterias()">

    <div class="p-5 bg-[#730027] grid justify-center items-center -space-y-72">

        <h1 class="text-white font-medium text-3xl">Registro de Materias</h1>
        <form class="grid" id="formAgregarMateria">
            <label class="text-white font-medium" for="nombreMateria">Nombre de la materia:</label>
            <input class="rounded-md w-72 h-8 p-1" type="text" id="nombreMateria" name="nombreMateria" oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')" required><br><br>
            <button class="bg-white text-[#730027] rounded-md p-1 duration-150 hover:scale-105 font-medium" type="button" onclick="agregarMateria()">Agregar Materia</button>
        </form>

    </div>


    <div class="p-10 flex space-x-14">

        <div class="space-y-5">

            <h1 class="font-medium text-2xl">Materias registradas</h1>
            <ul class="italic" id="listaMaterias"></ul>

            <div>
                <button id="btnEliminarMateria" class="bg-[#730027] p-1 px-6 rounded-md text-white font-medium duration-150 hover:scale-105" onclick="toggleEliminarMateria()">Eliminar materia</button>
            </div>

        </div>


        <div id="contenidoDivEliminarMateria" class="duration-150 hidden space-y-6">

            <h1 class="font-medium text-2xl">Eliminar materia</h1>

            <div class="bg-[#730027] p-5 px-8 rounded-md">

                <form class="grid" id="formBorrarMateria">
                    <label class="text-white font-medium" for="nombreMateriaBorrar">Nombre de la materia a borrar:</label>
                    <input class="mt-2 p-1 border border-gray-400 rounded-md w-60 hover:border-gray-900" type="text" id="nombreMateriaBorrar" name="nombreMateriaBorrar" required><br><br>
                    <button class="bg-white p-1 px-4 rounded-md font-medium duration-150 hover:scale-105" type="button" onclick="borrarMateria()">Borrar Materia</button>
                </form>
                <div class="text-white font-medium mt-2" id="mensaje"></div>

            </div>

        </div>
    </div>
    
   
    
    
    
    <script>
        function agregarMateria() {
            var nombre = document.getElementById("nombreMateria").value;
            if (!nombre.trim()) {
                alert("Por favor, ingresa el nombre de la materia.");
                return;
            }
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/materias/agregar", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById("mensaje").innerHTML = xhr.responseText;
                    mostrarMaterias(); // Actualiza la lista de materias después de agregar una
                    document.getElementById("nombreMateria").value = ""; // Limpia el campo de entrada
                }
            };
            xhr.send("nombre=" + nombre);
        }

        function borrarMateria() {
            var nombre = document.getElementById("nombreMateriaBorrar").value;
            if (!nombre.trim()) {
                alert("Por favor, ingresa el nombre de la materia a borrar.");
                return;
            }
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", "/borrar-materia/" + encodeURIComponent(nombre), true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        document.getElementById("mensaje").innerHTML = "Materia borrada exitosamente.";
                        mostrarMaterias(); // Actualiza la lista de materias después de borrar una
                        document.getElementById("nombreMateriaBorrar").value = ""; // Limpia el campo de entrada
                    } else {
                        document.getElementById("mensaje").innerHTML = "Error al borrar la materia.";
                    }
                }
            };
            xhr.send();
        }

        function mostrarMaterias() {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/mostrar-materias", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var materias = JSON.parse(xhr.responseText);
                    var listaMaterias = '';
                    materias.forEach(materia => {
                        listaMaterias += `<li>${materia}</li>`;
                    });
                    document.getElementById("listaMaterias").innerHTML = listaMaterias;
                }
            };
            xhr.send();
        }
    </script>

    <script>
    function toggleEliminarMateria() {
      var div = document.getElementById("contenidoDivEliminarMateria");
      div.classList.toggle("hidden");
      var div = document.getElementById("btnEliminarMateria");
      div.classList.toggle("hidden");
    }
  </script>

</body>
</html>
