<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oficio</title>
</head>
<body>
    <h1>Generar Oficio</h1>
    <form action="/generate-pdf" method="POST">
        <label for="asunto">Asunto:</label>
        <select id="asunto" name="asunto" required>
            <!-- Las opciones se agregarán aquí mediante JavaScript -->
        </select><br>
        <button type="button" onclick="agregarTexto('asunto')">Agregar</button><br>


        <!-- Dropdown para seleccionar maestro -->
        <label for="maestro">Seleccionar Maestro:</label>
        <select id="maestro" name="maestro" required>
            <!-- Las opciones se agregarán aquí mediante JavaScript -->
        </select><br>
        <button type="button" onclick="agregarTexto('maestro')">Agregar</button><br>


        <!-- Dropdown para seleccionar especialidad -->
        <label for="especialidad">Seleccionar Especialidad:</label>
        <select id="especialidad" name="especialidad" required>
            <!-- Las opciones se agregarán aquí mediante JavaScript -->
        </select><br>
        <button type="button" onclick="agregarTexto('especialidad')">Agregar</button><br>

        <!-- Dropdown para seleccionar materia -->
        <label for="materia">Seleccionar Materia:</label>
        <select id="materia" name="materia" required>
            <!-- Las opciones se agregarán aquí mediante JavaScript -->
        </select><br>
        <button type="button" onclick="agregarTexto('materia')">Agregar</button><br>


        <!-- Dropdown para seleccionar grupo -->
        <label for="grupo">Seleccionar Grupo:</label>
        <select id="grupo" name="grupo" required>
            <!-- Las opciones se agregarán aquí mediante JavaScript -->
        </select><br>
        <button type="button" onclick="agregarTexto('grupo')">Agregar</button><br>


        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required><br>
        <button type="button" onclick="agregarTexto('fecha')">Agregar</button><br>


        <label for="texto">Texto:</label>
        <input type="text" id="texto" name="texto" required><br>

        <div class="checkbox-container">
            <input type="checkbox" id="agregarTablaCheckbox" name="agregarTablaCheckbox" onchange="redireccionar()">
            <label for="agregarTablaCheckbox">Avanzados</label>
        </div>

        <button type="submit">Generar PDF</button>
    </form>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var selectAsunto = document.getElementById('asunto');
            var selectMaestro = document.getElementById('maestro');
            var selectEspecialidad = document.getElementById('especialidad');
            var selectMateria = document.getElementById('materia');
            var selectGrupo = document.getElementById('grupo');

            // Obtener lista de asuntos mediante AJAX
            var xhrAsuntos = new XMLHttpRequest();
            xhrAsuntos.open('GET', '/asuntos', true);
            xhrAsuntos.onload = function () {
                if (xhrAsuntos.status === 200) {
                    var asuntos = JSON.parse(xhrAsuntos.responseText);
                    asuntos.forEach(function (asunto) {
                        var option = document.createElement('option');
                        option.value = asunto.nombre;
                        option.textContent = asunto.nombre;
                        selectAsunto.appendChild(option);
                    });
                }
            };
            xhrAsuntos.send();

            // Obtener lista de maestros mediante AJAX
            var xhrMaestros = new XMLHttpRequest();
            xhrMaestros.open('GET', '/maestro', true);
            xhrMaestros.onload = function () {
                if (xhrMaestros.status === 200) {
                    var maestros = JSON.parse(xhrMaestros.responseText);
                    maestros.forEach(function (maestro) {
                        var option = document.createElement('option');
                        option.value = maestro.nombre;
                        option.textContent = maestro.nombre;
                        selectMaestro.appendChild(option);
                    });
                }
            };
            xhrMaestros.send();

            // Obtener lista de especialidades mediante AJAX
            var xhrEspecialidades = new XMLHttpRequest();
            xhrEspecialidades.open('GET', '/especialidades', true);
            xhrEspecialidades.onload = function () {
                if (xhrEspecialidades.status === 200) {
                    var especialidades = JSON.parse(xhrEspecialidades.responseText);
                    especialidades.forEach(function (especialidad) {
                        var option = document.createElement('option');
                        option.value = especialidad.nombre;
                        option.textContent = especialidad.nombre;
                        selectEspecialidad.appendChild(option);
                    });
                }
            };
            xhrEspecialidades.send();

            // Obtener lista de materias mediante AJAX
            var xhrMaterias = new XMLHttpRequest();
            xhrMaterias.open('GET', '/materia', true);
            xhrMaterias.onload = function () {
                if (xhrMaterias.status === 200) {
                    var materias = JSON.parse(xhrMaterias.responseText);
                    materias.forEach(function (materia) {
                        var option = document.createElement('option');
                        option.value = materia.nombre;
                        option.textContent = materia.nombre;
                        selectMateria.appendChild(option);
                    });
                }
            };
            xhrMaterias.send();

            // Obtener lista de grupos mediante AJAX
            var xhrGrupos = new XMLHttpRequest();
            xhrGrupos.open('GET', '/grupo', true);
            xhrGrupos.onload = function () {
                if (xhrGrupos.status === 200) {
                    var grupos = JSON.parse(xhrGrupos.responseText);
                    grupos.forEach(function (grupo) {
                        var option = document.createElement('option');
                        option.value = grupo.nombre;
                        option.textContent = grupo.nombre;
                        selectGrupo.appendChild(option);
                    });
                }
            };
            xhrGrupos.send();
        });
    </script>
        <script>
            // Función para agregar texto a la caja de texto
            function agregarTexto(id) {
                var input = document.getElementById(id);
                var textoActual = document.getElementById('texto').value;
                var textoNuevo = input.value;
    
                // Agrega el texto nuevo al texto actual con un espacio
                textoActual += ' ' + textoNuevo;
    
                // Actualiza el valor de la caja de texto
                document.getElementById('texto').value = textoActual;
            }
        </script>
        <script>
            function redireccionar() {
    if (document.getElementById('agregarTablaCheckbox').checked) {
        window.location.href = '/oficios'; // Reemplaza '/otra-vista' con la ruta de tu vista
    }
}
        </script>
</body>
</html>
