<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icono" href="/img/logo.png">
    <title>Registro de Usuario</title>
</head>
<body>
    <h1>Registro de Usuario</h1>
    <img class="h-32 w-28" src="/img/logo.png" alt="logo">
    <form action="/registro" method="POST">
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" required><br><br>
        <label for="contrase単a">Contrase単a:</label>
        <input type="password" id="contrase単a" name="contrase単a" required><br><br>
        <button type="submit">Registrarse</button>
    </form>
    <br>
</body>
</html>
